In [25]:
import sqlite3
import pandas as pd

In [37]:
conn = sqlite3.connect('../silvia/db.sqlite3')

In [38]:
cur = conn.cursor()

In [39]:
query = '''
SELECT name
FROM sqlite_master 
WHERE type ='table' AND name NOT LIKE 'sqlite_%';
'''

cur.execute(query)
for c in cur.fetchall():
    print(c)

('django_migrations',)
('auth_group_permissions',)
('auth_user_groups',)
('auth_user_user_permissions',)
('django_admin_log',)
('django_content_type',)
('auth_permission',)
('auth_group',)
('auth_user',)
('base_assunto',)
('base_sentimentos',)
('base_turma',)
('base_usuario',)
('base_professor',)
('base_instituicao',)
('base_grade',)
('base_disciplina',)
('base_avaliacao',)
('base_aluno',)
('django_session',)

In [40]:
cur.execute("SELECT * FROM base_aluno")
for c in cur.fetchmany(15):
    print(c)

(1, 'Flavio', 'masculino', '13/10/2002', 1, 2)
(2, 'Carlos', 'masculino', '08/10/2002', 1, 3)
(3, 'Lucas', 'masculino', '28/09/2002', 1, 4)
(4, 'Jorge', 'masculino', '03/01/2003', 1, 5)
(5, 'Renata', 'feminino', '21/08/2002', 1, 6)
(6, 'Flavia', 'feminino', '26/08/2002', 1, 7)
(7, 'Amanda', 'feminino', '04/07/2002', 1, 8)
(8, 'Ana Julia', 'feminino', '08/01/2003', 1, 9)
(9, 'Julia', 'feminino', '21/06/2002', 1, 10)
(10, 'Bruno', 'masculino', '04/06/2002', 1, 11)
(11, 'Breno', 'masculino', '03/03/2003', 1, 12)
(12, 'Daniela', 'feminino', '18/10/2002', 1, 13)
(13, 'Rafaela', 'feminino', '04/11/2002', 1, 14)
(14, 'Isabela', 'feminino', '08/12/2003', 1, 15)
(15, 'Maria Eduarda', 'feminino', '21/12/2002', 1, 16)

# deletar dados existentes

In [41]:
cur.execute('DELETE FROM base_aluno')
cur.execute('DELETE FROM base_professor')
cur.execute('DELETE FROM base_assunto')
cur.execute('DELETE FROM base_turma')
cur.execute('DELETE FROM base_disciplina')
cur.execute('DELETE FROM base_grade')
cur.execute('DELETE FROM base_avaliacao')
cur.execute('DELETE FROM base_sentimentos')
cur.execute('DELETE FROM base_usuario')
cur.execute('DELETE FROM base_instituicao')

# adicionar dados

In [42]:
aluno = pd.read_csv('../data/aluno.csv',sep=';')
professor = pd.read_csv('../data/professor.csv',sep=';')
assunto = pd.read_csv('../data/assunto.csv',sep=';')
turma = pd.read_csv('../data/turma.csv',sep=';')
disciplina = pd.read_csv('../data/disciplina.csv',sep=';')
grade = pd.read_csv('../data/grade.csv',sep=';')
avaliacao = pd.read_csv('../data/avaliacao.csv',sep=';')
sentimento = pd.read_csv('../data/sentimento.csv',sep=';')
usuario = pd.read_csv('../data/usuario.csv',sep=';')
instituicao = pd.read_csv('../data/instituicao.csv',sep=';')

In [43]:
data_aluno = []
for i in range(0,len(aluno)):
    tuple = (int(aluno['id_aluno'][i]), str(aluno['nome'][i]), 
            (str(aluno['genero'][i])), str(aluno['data_nascimento'][i]),
            (int(aluno['id_instituicao'][i])), int(aluno['id_usuario'][i]))
    data_aluno.append(tuple)

data_professor = []
for i in range(0,len(professor)):
    tuple = (int(professor['id_professor'][i]), str(professor['nome'][i]), 
        (str(professor['genero'][i])), str(professor['data_nascimento'][i]),
        (int(professor['id_instituicao'][i])), int(professor['id_usuario'][i]))
    data_professor.append(tuple)

data_assunto = []
for i in range(0,len(assunto)):
    tuple = (int(assunto['id_assunto'][i]), str(assunto['nome'][i]))
    data_assunto.append(tuple)

data_turma = []
for i in range(0,len(turma)):
    tuple = (int(turma['id_turma'][i]), str(turma['curso'][i]), 
    int(turma['periodo'][i]),str(turma['tag'][i]))
    data_turma.append(tuple)

data_disciplina = []
for i in range(0,len(disciplina)):
    tuple = (int(disciplina['id_disciplina'][i]),str(disciplina['carga_horaria'][i]),
    int(disciplina['id_assunto'][i]), int(disciplina['id_professor'][i]),int(disciplina['id_turma'][i]))
    data_disciplina.append(tuple)

data_grade = []
for i in range(0,len(grade)):
    tuple = (int(grade['id_grade'][i]), int(grade['id_aluno'][i]), 
    int(grade['id_disciplina'][i]))
    data_grade.append(tuple)

data_sentimento = []
for i in range(0,len(sentimento )):
    tuple = (int(sentimento ['id_sentimento'][i]), str(sentimento ['nome'][i]), 
    str(sentimento ['carater'][i]))
    data_sentimento.append(tuple)


data_avaliacao = []
for i in range(0,len(avaliacao )):
    tuple = (int(avaliacao ['id_avaliacao'][i]),str(avaliacao ['comentario'][i]),
    int(avaliacao ['nivel_conhecimento'][i]), int(avaliacao ['intensidade'][i]),
    str(avaliacao ['data'][i]),int(avaliacao ['id_aluno'][i]), 
    int(avaliacao ['id_disciplina'][i]), int(avaliacao ['id_sentimento'][i]))
    data_avaliacao.append(tuple)

data_instituicao = []
for i in range(0,len(instituicao )):
    tuple = (int(instituicao['id_intituicao'][i]), str(instituicao ['nome'][i]),
    int(instituicao['id_usuario'][i]))
    data_instituicao.append(tuple)

data_usuario = []
for i in range(0,len(usuario )):
    tuple = (int(usuario['id_usuario'][i]),str(usuario['login'][i]),str(usuario['senha'][i]))
    data_usuario.append(tuple)

In [44]:
cur.executemany('INSERT INTO base_usuario VALUES (?,?,?)', data_usuario)
cur.executemany('INSERT INTO base_instituicao VALUES (?,?,?)', data_instituicao)
cur.executemany('INSERT INTO base_aluno VALUES (?,?,?,?,?,?)', data_aluno)
cur.executemany('INSERT INTO base_professor VALUES (?,?,?,?,?,?)', data_professor)
cur.executemany('INSERT INTO base_assunto VALUES (?,?)', data_assunto)
cur.executemany('INSERT INTO base_turma VALUES (?,?,?,?)', data_turma)
cur.executemany('INSERT INTO base_disciplina VALUES (?,?,?,?,?)', data_disciplina)
cur.executemany('INSERT INTO base_grade VALUES (?,?,?)', data_grade)
cur.executemany('INSERT INTO base_sentimentos VALUES (?,?,?)', data_sentimento)
cur.executemany('INSERT INTO base_avaliacao VALUES (?,?,?,?,?,?,?,?)', data_avaliacao)

In [45]:
cur.execute("SELECT * FROM base_avaliacao")
for c in cur.fetchmany(500):
    print(c)

(1, 'nan', 9, 1, '11/05/2022', 1, 1, 1)
(2, 'nan', 1, 3, '12/05/2022', 2, 1, 2)
(3, 'nan', 6, 4, '13/05/2022', 3, 1, 3)
(4, 'nan', 6, 3, '14/05/2022', 4, 1, 4)
(5, 'nan', 9, 5, '15/05/2022', 5, 1, 1)
(6, 'nan', 2, 5, '16/05/2022', 6, 1, 1)
(7, 'nan', 2, 5, '17/05/2022', 7, 1, 2)
(8, 'nan', 7, 5, '18/05/2022', 8, 1, 2)
(9, 'nan', 5, 4, '19/05/2022', 9, 1, 3)
(10, 'nan', 7, 5, '20/05/2022', 10, 1, 4)
(11, 'nan', 7, 3, '21/05/2022', 11, 1, 4)
(12, 'nan', 10, 2, '22/05/2022', 12, 1, 4)
(13, 'nan', 2, 4, '23/05/2022', 13, 1, 2)
(14, 'nan', 5, 5, '24/05/2022', 14, 1, 1)
(15, 'nan', 2, 3, '25/05/2022', 15, 1, 4)
(16, 'nan', 1, 2, '26/05/2022', 16, 1, 3)
(17, 'nan', 9, 5, '27/05/2022', 17, 1, 3)
(18, 'nan', 10, 1, '28/05/2022', 18, 1, 3)
(19, 'nan', 0, 3, '29/05/2022', 19, 1, 4)
(20, 'nan', 5, 2, '30/05/2022', 20, 1, 1)
(21, 'nan', 7, 5, '31/05/2022', 21, 1, 2)
(22, 'nan', 2, 4, '01/06/2022', 22, 1, 2)
(23, 'nan', 0, 5, '02/06/2022', 23, 1, 3)
(24, 'nan', 9, 2, '03/06/2022', 24, 1, 4)
(25, 'nan', 7, 4, '12/05/2022', 1, 2, 4)
(26, 'nan', 5, 1, '12/05/2022', 2, 2, 2)
(27, 'nan', 3, 3, '12/05/2022', 3, 2, 2)
(28, 'nan', 8, 3, '12/05/2022', 4, 2, 2)
(29, 'nan', 8, 4, '12/05/2022', 5, 2, 2)
(30, 'nan', 2, 3, '12/05/2022', 6, 2, 2)
(31, 'nan', 6, 5, '12/05/2022', 7, 2, 1)
(32, 'nan', 3, 5, '12/05/2022', 8, 2, 2)
(33, 'nan', 3, 1, '12/05/2022', 9, 2, 3)
(34, 'nan', 0, 3, '12/05/2022', 10, 2, 4)
(35, 'nan', 8, 3, '12/05/2022', 11, 2, 2)
(36, 'nan', 6, 5, '12/05/2022', 12, 2, 1)
(37, 'nan', 7, 5, '12/05/2022', 13, 2, 2)
(38, 'nan', 7, 3, '12/05/2022', 14, 2, 2)
(39, 'nan', 3, 1, '12/05/2022', 15, 2, 3)
(40, 'nan', 7, 3, '12/05/2022', 16, 2, 1)
(41, 'nan', 5, 2, '12/05/2022', 17, 2, 4)
(42, 'nan', 7, 4, '12/05/2022', 18, 2, 2)
(43, 'nan', 1, 2, '12/05/2022', 19, 2, 2)
(44, 'nan', 0, 1, '12/05/2022', 20, 2, 1)
(45, 'nan', 6, 1, '12/05/2022', 21, 2, 3)
(46, 'nan', 0, 1, '12/05/2022', 22, 2, 2)
(47, 'nan', 5, 5, '12/05/2022', 23, 2, 2)
(48, 'nan', 4, 5, '12/05/2022', 24, 2, 2)
(49, 'nan', 10, 2, '13/05/2022', 1, 3, 4)
(50, 'nan', 1, 1, '13/05/2022', 2, 3, 2)
(51, 'nan', 10, 1, '13/05/2022', 3, 3, 3)
(52, 'nan', 1, 4, '13/05/2022', 4, 3, 3)
(53, 'nan', 2, 1, '13/05/2022', 5, 3, 3)
(54, 'nan', 7, 2, '13/05/2022', 6, 3, 1)
(55, 'nan', 7, 1, '13/05/2022', 7, 3, 3)
(56, 'nan', 5, 3, '13/05/2022', 8, 3, 1)
(57, 'nan', 1, 5, '13/05/2022', 9, 3, 2)
(58, 'nan', 7, 2, '13/05/2022', 10, 3, 1)
(59, 'nan', 3, 3, '13/05/2022', 11, 3, 3)
(60, 'nan', 5, 3, '13/05/2022', 12, 3, 1)
(61, 'nan', 9, 5, '13/05/2022', 13, 3, 3)
(62, 'nan', 4, 3, '13/05/2022', 14, 3, 2)
(63, 'nan', 3, 1, '13/05/2022', 15, 3, 1)
(64, 'nan', 1, 3, '13/05/2022', 16, 3, 3)
(65, 'nan', 0, 2, '13/05/2022', 17, 3, 4)
(66, 'nan', 9, 2, '13/05/2022', 18, 3, 1)
(67, 'nan', 9, 4, '13/05/2022', 19, 3, 2)
(68, 'nan', 6, 5, '13/05/2022', 20, 3, 3)
(69, 'nan', 9, 1, '13/05/2022', 21, 3, 3)
(70, 'nan', 9, 2, '13/05/2022', 22, 3, 3)
(71, 'nan', 9, 2, '13/05/2022', 23, 3, 1)
(72, 'nan', 6, 2, '13/05/2022', 24, 3, 1)
(73, 'nan', 5, 2, '14/05/2022', 1, 8, 4)
(74, 'nan', 0, 5, '14/05/2022', 2, 8, 2)
(75, 'nan', 7, 4, '14/05/2022', 3, 8, 3)
(76, 'nan', 7, 2, '14/05/2022', 4, 8, 1)
(77, 'nan', 2, 2, '14/05/2022', 5, 8, 2)
(78, 'nan', 8, 1, '14/05/2022', 6, 8, 3)
(79, 'nan', 2, 2, '14/05/2022', 7, 8, 3)
(80, 'nan', 6, 4, '14/05/2022', 8, 8, 3)
(81, 'nan', 10, 5, '14/05/2022', 9, 8, 2)
(82, 'nan', 6, 2, '14/05/2022', 10, 8, 1)
(83, 'nan', 5, 2, '14/05/2022', 11, 8, 4)
(84, 'nan', 7, 5, '14/05/2022', 12, 8, 4)
(85, 'nan', 3, 5, '14/05/2022', 13, 8, 4)
(86, 'nan', 9, 2, '14/05/2022', 14, 8, 1)
(87, 'nan', 7, 5, '14/05/2022', 15, 8, 2)
(88, 'nan', 2, 3, '14/05/2022', 16, 8, 2)
(89, 'nan', 0, 4, '14/05/2022', 17, 8, 2)
(90, 'nan', 5, 5, '14/05/2022', 18, 8, 2)
(91, 'nan', 8, 4, '14/05/2022', 19, 8, 2)
(92, 'nan', 4, 1, '14/05/2022', 20, 8, 2)
(93, 'nan', 8, 1, '14/05/2022', 21, 8, 2)
(94, 'nan', 7, 4, '14/05/2022', 22, 8, 2)
(95, 'nan', 2, 1, '14/05/2022', 23, 8, 2)
(96, 'nan', 7, 4, '14/05/2022', 24, 8, 2)
(97, 'nan', 8, 4, '15/05/2022', 1, 4, 1)
(98, 'nan', 6, 1, '15/05/2022', 2, 4, 1)
(99, 'nan', 0, 4, '15/05/2022', 3, 4, 1)
(100, 'nan', 4, 2, '15/05/2022', 4, 4, 1)
(101, 'nan', 4, 1, '15/05/2022', 5, 4, 1)
(102, 'nan', 1, 3, '15/05/2022', 6, 4, 1)
(103, 'nan', 1, 1, '15/05/2022', 7, 4, 3)
(104, 'nan', 2, 2, '15/05/2022', 8, 4, 3)
(105, 'nan', 3, 1, '15/05/2022', 9, 4, 1)
(106, 'nan', 9, 5, '15/05/2022', 10, 4, 4)
(107, 'nan', 9, 1, '15/05/2022', 11, 4, 1)
(108, 'nan', 9, 5, '15/05/2022', 12, 4, 1)
(109, 'nan', 2, 5, '15/05/2022', 13, 4, 1)
(110, 'nan', 1, 1, '15/05/2022', 14, 4, 1)
(111, 'nan', 6, 5, '15/05/2022', 15, 4, 1)
(112, 'nan', 1, 4, '15/05/2022', 16, 4, 3)
(113, 'nan', 6, 5, '15/05/2022', 17, 4, 4)
(114, 'nan', 0, 3, '15/05/2022', 18, 4, 1)
(115, 'nan', 8, 1, '15/05/2022', 19, 4, 2)
(116, 'nan', 7, 1, '15/05/2022', 20, 4, 3)
(117, 'nan', 9, 1, '15/05/2022', 21, 4, 3)
(118, 'nan', 10, 2, '15/05/2022', 22, 4, 3)
(119, 'nan', 10, 2, '15/05/2022', 23, 4, 1)
(120, 'nan', 0, 5, '15/05/2022', 24, 4, 1)
(121, 'nan', 9, 1, '16/05/2022', 1, 5, 1)
(122, 'nan', 3, 2, '16/05/2022', 2, 5, 4)
(123, 'nan', 2, 5, '16/05/2022', 3, 5, 4)
(124, 'nan', 3, 3, '16/05/2022', 4, 5, 4)
(125, 'nan', 4, 1, '16/05/2022', 5, 5, 4)
(126, 'nan', 7, 5, '16/05/2022', 6, 5, 4)
(127, 'nan', 7, 2, '16/05/2022', 7, 5, 2)
(128, 'nan', 2, 3, '16/05/2022', 8, 5, 4)
(129, 'nan', 8, 5, '16/05/2022', 9, 5, 4)
(130, 'nan', 8, 4, '16/05/2022', 10, 5, 3)
(131, 'nan', 10, 3, '16/05/2022', 11, 5, 4)
(132, 'nan', 9, 3, '16/05/2022', 12, 5, 4)
(133, 'nan', 10, 5, '16/05/2022', 13, 5, 2)
(134, 'nan', 0, 4, '16/05/2022', 14, 5, 3)
(135, 'nan', 8, 3, '16/05/2022', 15, 5, 4)
(136, 'nan', 6, 5, '16/05/2022', 16, 5, 4)
(137, 'nan', 7, 5, '16/05/2022', 17, 5, 2)
(138, 'nan', 2, 1, '16/05/2022', 18, 5, 3)
(139, 'nan', 5, 5, '16/05/2022', 19, 5, 4)
(140, 'nan', 10, 2, '16/05/2022', 20, 5, 4)
(141, 'nan', 1, 5, '16/05/2022', 21, 5, 1)
(142, 'nan', 1, 3, '16/05/2022', 22, 5, 2)
(143, 'nan', 2, 2, '16/05/2022', 23, 5, 4)
(144, 'nan', 5, 2, '16/05/2022', 24, 5, 2)
(145, 'nan', 4, 2, '17/05/2022', 1, 6, 3)
(146, 'nan', 8, 2, '17/05/2022', 2, 6, 3)
(147, 'nan', 10, 2, '17/05/2022', 3, 6, 2)
(148, 'nan', 1, 4, '17/05/2022', 4, 6, 2)
(149, 'nan', 3, 1, '17/05/2022', 5, 6, 3)
(150, 'nan', 4, 2, '17/05/2022', 6, 6, 1)
(151, 'nan', 3, 5, '17/05/2022', 7, 6, 4)
(152, 'nan', 4, 5, '17/05/2022', 8, 6, 3)
(153, 'nan', 4, 2, '17/05/2022', 9, 6, 3)
(154, 'nan', 2, 5, '17/05/2022', 10, 6, 3)
(155, 'nan', 1, 1, '17/05/2022', 11, 6, 3)
(156, 'nan', 7, 4, '17/05/2022', 12, 6, 3)
(157, 'nan', 10, 4, '17/05/2022', 13, 6, 1)
(158, 'nan', 1, 2, '17/05/2022', 14, 6, 2)
(159, 'nan', 5, 2, '17/05/2022', 15, 6, 3)
(160, 'nan', 5, 1, '17/05/2022', 16, 6, 3)
(161, 'nan', 8, 5, '17/05/2022', 17, 6, 3)
(162, 'nan', 2, 2, '17/05/2022', 18, 6, 3)
(163, 'nan', 3, 4, '17/05/2022', 19, 6, 1)
(164, 'nan', 9, 3, '17/05/2022', 20, 6, 4)
(165, 'nan', 7, 2, '17/05/2022', 21, 6, 3)
(166, 'nan', 9, 5, '17/05/2022', 22, 6, 3)
(167, 'nan', 7, 2, '17/05/2022', 23, 6, 3)
(168, 'nan', 6, 2, '17/05/2022', 24, 6, 2)
(169, 'nan', 2, 1, '18/05/2022', 1, 7, 4)
(170, 'nan', 6, 4, '18/05/2022', 2, 7, 4)
(171, 'nan', 6, 4, '18/05/2022', 3, 7, 4)
(172, 'nan', 3, 2, '18/05/2022', 4, 7, 2)
(173, 'nan', 10, 2, '18/05/2022', 5, 7, 3)
(174, 'nan', 4, 3, '18/05/2022', 6, 7, 1)
(175, 'nan', 8, 4, '18/05/2022', 7, 7, 4)
(176, 'nan', 3, 2, '18/05/2022', 8, 7, 2)
(177, 'nan', 4, 2, '18/05/2022', 9, 7, 4)
(178, 'nan', 7, 2, '18/05/2022', 10, 7, 2)
(179, 'nan', 10, 4, '18/05/2022', 11, 7, 4)
(180, 'nan', 10, 1, '18/05/2022', 12, 7, 2)
(181, 'nan', 10, 4, '18/05/2022', 13, 7, 4)
(182, 'nan', 3, 2, '18/05/2022', 14, 7, 2)
(183, 'nan', 5, 5, '18/05/2022', 15, 7, 4)
(184, 'nan', 0, 4, '18/05/2022', 16, 7, 2)
(185, 'nan', 6, 4, '18/05/2022', 17, 7, 4)
(186, 'nan', 4, 3, '18/05/2022', 18, 7, 2)
(187, 'nan', 10, 4, '18/05/2022', 19, 7, 4)
(188, 'nan', 5, 3, '18/05/2022', 20, 7, 2)
(189, 'nan', 8, 3, '18/05/2022', 21, 7, 4)
(190, 'nan', 0, 1, '18/05/2022', 22, 7, 2)
(191, 'nan', 10, 5, '18/05/2022', 23, 7, 4)
(192, 'nan', 3, 3, '18/05/2022', 24, 7, 2)

In [46]:
conn.commit()

In [47]:
conn.close()